.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    max-width: 100%;
    width: 100%;
    padding: 25px 20px 0;
    margin: 0 auto;
}

.navContainer {
    display: none;
}

.authBox {
    display: none;
}

@media screen and (min-width: 375px) {
    .header {
        max-width: 375px;
        padding: 25px 20px 0;
    }
}

@media screen and (min-width: 768px) {
    .header {
        max-width: 768px;
        padding: 28px 32px 0;
    }
}

@media screen and (min-width: 1440px) {
    .header {
        padding: 28px 128px 0;
        max-width: 1440px;
    }

    .navContainer {
        display: block;
    }

    .authBox {
        display: block;
    }

    .burgerBox {
        display: none;
    }
}