.authBox {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
}



.register {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 60px;
    padding: 13px 32px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    border: 1px solid rgba(241, 241, 241, 0.5);
    color: #f1f1f1;
    background-color: transparent;
}

.login {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: #f1f1f1;
    position: relative;
}

.login::after {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 1px;
    width: 100%;
    background-color: #f1f1f1;
    display: block;
}

@media screen and (min-width:768px) {
    .authBox {
        flex-direction: row;
    }
}

@media screen and (min-width:1440px) {

    .register {
        border: 1px solid #f1f1f1;
        color: #93939a;
        background-color: #fff;
    }

    .registerHome {
        border: 1px solid rgba(241, 241, 241, 0.5);
        color: #f1f1f1;
        background-color: transparent;
    }

    .login {
        color: #93939a;
    }

    .login::after {
        background-color: #93939a;
    }

    .loginHome {
        color: #f1f1f1;
    }

    .loginHome::after {
        background-color: #f1f1f1;
    }
}