.section {
    padding-top: 40px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.item {
    width: 100%;
    border: 1.15px solid #f1f1f1;
    border-radius: 27px;
    padding: 14px 18px;
    box-shadow: 0 -1px 14px 0 rgba(29, 30, 33, 0.02);
    background: #fdfdfd;
}

.box {
    display: flex;
    gap: 14px;
    align-items: center;
    margin-bottom: 14px;
}

.wrapper {
    display: flex;
    width: 140px;
    justify-content: space-between;
    align-items: baseline;
}

.wrapperSecond {
    display: flex;
    width: 148px;
    justify-content: space-between;
    align-items: baseline;
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 100%;
    background-color: rgba(231, 241, 237, 0.4);
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    color: #59b17a;
}

.text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    color: #252539;
}

.percents {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.4;
    color: #252539;
}

.btn {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.4;
    color: #93939a;
}

@media screen and (min-width:768px) {
    .list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 28px;
    }

    .item {
        width: 321px;
    }

    .number {
        width: 74px;
        height: 74px;
        font-size: 28px;
    }

    .text {
        font-size: 20px;
    }

    .wrapper {
        width: 163px;
    }

    .wrapperSecond {
        width: 191px;
    }

    .percents {
        font-size: 36px;
    }

}

@media screen and (min-width:1440px) {
    .list {
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }
}